body{
    margin: 0;
    font-family: Urbanist;
}
.header {
    background-color: black;
    height: 100vh;
    color: white;
}
.heroText{
    max-width:800px;
    margin:0 auto;
    padding: 6rem 0;
}
.heroText h2{
    font-size: 5rem;
}
.heroText h3{
    font-size:2rem;
    color: #797B85;
}
